// img{
//     height:800px;
// }

// .demo{
//     width: 100%;
//    position: relative;
//     overflow: hidden;
//     height: 600px;
// }
// .carousel-inner{
//         //  margin: 0;
//         //  padding: 0;
//         //  list-style-type: none;
//         // width: auto;
//       height: 600px;
//         //position: relative;
// }
// .carousel-item{
//         position: relative;
//         top: 0;
//         // left: 0;
//         //width: 100%;
//         height: 600px;
//         // z-index: 1;
//         transition: opacity 2s;
//         -webkit-transition: opacity 1s;
// }

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
   }
   .features h5{
       margin-top: 1rem;
       text-align: center;
   }

//    .head-text h1 {
//     font: bold 60px "Conv_AvenirLTStd-Black", sans-serif;
//     color: #fff;
//     margin: 0 0 30px;
//     padding: 0;
// }
// head-text h1 label {
//     font: bold 60px "Conv_AvenirLTStd-Black", sans-serif;
//     color: #fff !important;
// }
// .head-text span {
//     border-right: .05em solid;
//     animation: caret 1s steps(1) infinite;
// }
// .head-text h1 label {
//     font: bold 60px "Conv_AvenirLTStd-Black", sans-serif;
//     color: #fff !important;
// }
// label {
//     cursor: default;
//}

.rect{
    //height:80px;
    padding: 0 0 8px;
    width:100%;
    background-color: rgba(39, 39, 116, 0.452);;
    opacity: 5;
  }
  
 h2{
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    animation: type 4s steps(60, end) infinite; 
    font: 40px "Conv_AvenirLTStd-Black", sans-serif;
    font-weight: 600;
   }
     
   h2:nth-child(2){
       animation: type2 8s steps(60, end);
   }

   @keyframes type{ 
    from { width: 0; } 
} 
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 
  
 
  

  