<!-- <h1>Real Time Chat</h1>

<div class="main-content">
  <div class="container-fluid"> -->
      <div *ngFor="let message of messageArray">
          {{message.user}}->{{message.message}}    
      </div>
      <div *ngFor="let message of senderArray">
          {{message.user}}->{{message.message}}    
      </div>
    <button class="open-button" (click)="openChat()">Open Form</button>
      <div class="form-popup" id="chat" style="display: none">
          <div class="form-container message_send">
            <mat-list role="list">
              <mat-list-item role="listitem">Item 1</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item role="listitem">Item 1</mat-list-item>
            </mat-list> 
            <form>
              <div class="col-md-10 send-box">
                <mat-form-field>
                  <input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" id="user" style="display: none">
                  <textarea matInput [(ngModel)]="message" [ngModelOptions]="{standalone: true}" id="room" (keyup.enter)="sendMessage()"></textarea>
                </mat-form-field>
              </div>
            </form>
            <button type="button" class="btn cancel" (click)="closeChat()">Close</button>   
          </div>
      </div>
  <!-- </div>
</div> -->