<!-- <h1>Real Time Chat</h1>

<div class="main-content">
  <div class="container-fluid"> -->
      <!-- <div *ngFor="let message of messageArray">
          {{message.user}}->{{message.message}}    
      </div>
      <div *ngFor="let message of senderArray">
          {{message.user}}->{{message.message}}    
      </div> -->
    <button class="open-button" (click)="openChat()" *ngIf="showChat && active_status==='login'"><b><img src="assets/img/user_online.png">LIVE CHAT</b></button>
    <button class="open-button" (click)="openChat()" *ngIf="showChat && active_status==='logout'"><b><img src="assets/img/user_offline.png">LIVE CHAT</b></button>
      <div class="form-popup" id="chat" style="display: none">
          <div class="form-container message_send">
            <mat-list role="list" [ngClass]="{'list-group':messageArray.length>5}">
              <div *ngFor="let message of messageArray">
                <mat-list-item role="listitem" *ngIf="message.user==user">
                  <mat-icon mat-list-icon>
                    <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" > 
                  </mat-icon>
                  <p mat-line style="margin-left:15px;margin-top:-5px" >{{message.user}}</p>
                  <p mat-line style="margin-left:15px" style="text-align: justify;">{{message.message}}</p>
                       <!-- <span small>{{message.date}}</span> -->
                </mat-list-item>
               
                <mat-list-item role="listitem" *ngIf="message.user!=user">
                  <p mat-line>{{message.user}}</p>
                  <p mat-line style="text-align: justify;">{{message.message}}</p>
                  <!-- <span small>{{message.date}}</span> -->
                  <mat-icon mat-list-icon >
                    <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-10px;margin-right:-200px" class="avatar1" > 
                  </mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>
            </mat-list> 
            <form>
              <div class="col-md-10 send-box">
                <mat-form-field>
                  <input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" id="user" style="display: none">
                  <textarea matInput [(ngModel)]="message" [ngModelOptions]="{standalone: true}" id="room" (keyup.enter)="sendMessage()" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
                </mat-form-field>
              </div>
            </form>
            <button type="button" class="btn cancel" (click)="closeChat()">Close</button>   
          </div>
      </div>
  <!-- </div>
</div> -->