h1{
    margin: 10px;
    margin-bottom: 20px;
}

.b-title-row{
    margin-left: 40px;
}

.btn.btn-outline-primary{
    position: absolute;
    right: 20px;
    margin-top: 30px;
}

.list-group-item{
    margin-bottom: 20px;
}