.buttont {
    position: relative;
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttont:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttont:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .buttont:hover{
      content: "view"
  }

  .table-scroll{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  
}