<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-warning" >
        <h4 class="card-title"><b>REQUESTS</b></h4>
        <p class="card-category">View,Cancel Requests</p>
      </div>
      <div class="card-content table-responsive table-full-width">
        <table class="table">
          <thead class="text-primary">
            <th>User Name</th>
            <th>Event</th>
            <th>Date</th>
            <th>Status</th>
            <th>Cancel Request</th>
          </thead>
          <tbody>
           <tr *ngFor="let status of reqStatusArray">
             <td>{{status.user.name}}</td>
             <td>{{status.event_name}}</td>
             <td>{{status.date}}</td>
             <td *ngIf="status.status==='Accepted'"><b style="color:green">{{status.status}}</b></td>
             <td *ngIf="status.status==='Rejected'"><b style="color:red">{{status.status}}</b></td>
             <td *ngIf="status.status==='Pending'"><b style="color:gold">{{status.status}}</b></td>
             <td><a href="" *ngIf="status.status==='Pending'" id="cancel_req" style="text-decoration: none;color:red" (click)="cancelReq(status.user.email,status.event_id)">CANCEL REQUEST</a></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>