		  
		  <div class='container'>
		  <div class='row'>
		  <div class='col-md-2 col-lg-3'></div>
		  <div class='card col-sm-12 col-md-8 col-lg-6' style='position:center; margin:2rem;'>
			<div class='card-body'>
		  
			<div class='row header' style='background-color:#f5f5f0'>
				<div class='col-4'>
					<img src='assets/img/logo2.png' class='logo' style='height:4rem; margin-top:1em;'>
				</div>
				<div class='col-8' align='right'>
					<h2 style='margin-top:15px'>INVOICE</h2>
					<p style='margin:-10'>Invoice Number : {{invoice_id}} </p>
					<p style='margin:0'>Date of Issue : {{date}}</p>
					<p style='margin:0'>Time : {{time}}</p>
					<br>
				</div>
			</div>
			<div class='row' style='margin-top:2rem;margin-bottom:2rem'>
				<div class='col-8'>
					<p style='color:gray'><b>Paid To---------------------------------</b></p>
					<p style='margin:0'><b>Name : </b>{{name}}</p>
					<p style='margin:0'><b>City : </b>{{address}}</p>
					<p style='margin:0'><b>Email : </b>{{email}}</p>
					<br/>
					<p><b>Paid By :</b> {{user_name}}</p>
				</div>
				<div class='col-4' align='right'>
					<p style='color:gray'><b>Total Amount</b></p>
					<h4>{{amount}}</h4>
					<br>
					<hr style='border:1.3px solid #d6d6c2;margin-bottom:0;margin-top:0;width:80px'>
					<h3 style='color:#d6d6c2' align='center'><b>PAID</b></h3>
					<hr style='border:1.2px solid #d6d6c2;margin-top:0;width:80px'>
				</div>
				
			</div>
			<hr style='border:1.2px solid gray;margin-top:0'>
			
			<!-- <table class='table'>
				<thead>
					<tr>
					<th style='border-bottom-color:white;border-top-color:white'>Description</th>
					<td align='right' style='border-bottom-color:white;border-top-color:white'><b>Amount</b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td scope='row'>Artist Name</td>
					<td align='right' style='border-top-color:white;'>50,000</td>
					</tr>
					
					
					<tr>
					<td scope='row' align='right' style='padding-top:3rem'><b>Total Amount</b></td>
					<td align='right' style='padding-top:3rem'>225,000</td>
					</tr>
				</tbody>
			</table> -->
		  </div>
		  <div class='col-md-2 col-lg-3'></div>
		  </div>
		  </div>
		  </div>
