
.search-result {
    position: absolute;
    max-width: 400px;
    width: 100%;
    height: auto;
    background:white;
    top: 50px;
    left: 0;
    transition: 0.2s all;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius:3px;
    display: block
}

a:hover{
    text-decoration: none;
}

