<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#" style="color:white">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border" id="search_bar">
                    <input type="text" value="" class="form-control" placeholder="Search Here..."  style="color:blacks" id="search_box" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"> 
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" id="search_button" disabled>
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                    <div class="search-result" style="display:none" id="search_dropdown">
                        <mat-list *ngFor="let user of user_details|searchFilter:searchText">
                            <a href="ratings/{{user.user_name}}" id="redirect_user_href" (click)="addUserEmail(user.email)"><mat-list-item>{{user.user_name}}</mat-list-item></a>
                            <mat-divider></mat-divider>
                        </mat-list>
                                  
                        <!-- <ul class="list-group" style="list-style: none;padding: 2px">
                            <li class="list-group-item" *ngFor="let employee of employee|searchFilter:searchText">{{employee.name}}</li>
                        </ul> -->
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <!-- if admin -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons " style="color:#878d8d">dashboard</i>
                        <p>
                            <span class="d-lg-none d-md-block">Home</span>
                        </p>
                    </a>
                </li> -->
                  <!-- if not admin -->
                <li class="nav-item">
                        <a class="nav-link" id="home_link" [href]="home_link" title="home">
                            <i class="material-icons " style="color:#878d8d">home</i>
                            <p>
                                <span class="d-lg-none d-md-block">Home</span>
                            </p>
                        </a>
                    </li>
                    <!-- end if else-->
                <li class="nav-item ">
                    <!-- <a class="nav-link" href="notifications" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                        <a class="nav-link" id="notification_link" href="{{route_link}}" title="notifications">
                        <i class="material-icons"  style="color:#d5e2e2">notifications</i>
                        <span class="notification" id="notification_count_id">{{notification_count}}</span>
                        <p>
                            <span class="d-lg-none d-md-block">Notifications</span>
                        </p>
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="#">Another Notification</a>
                        <a class="dropdown-item" href="#">Another One</a>
                    </div> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#" id="profileDropDown" (click)="show()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        <i class="material-icons"  style="color:#878d8d">person</i>
                        <i class="material-icons" style="color:#878d8d">arrow_drop_down</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropDown" id="menuList">
                        <!-- <a class="dropdown-item" id="chat_link" href="/my-chat-list"><i class="material-icons">chat</i>My Chats</a> -->
                        <a class="dropdown-item" id="logout_link_href" href="/payment-bill" *ngIf="user_role==='organizer'"><i class="material-icons">assignment</i>My Bills</a>
                        <a class="dropdown-item" id="logout_link_href" href="{{booked_events_href}}" *ngIf="user_role!=='organizer' && user_role!=='admin' && user_role!=='moderator'"><i class="material-icons">note</i>Events Booked</a>
                        <a class="dropdown-item" id="logout_link_href" href="#" (click)="logout_User($event)"><i class="material-icons">power_settings_new</i>Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a href="/login" id="logout_route" style="display: none;"></a>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mike John responded to your email</a></li>
                        <li><a href="#">You have 5 new tasks</a></li>
                        <li><a href="#">You're now friend with Andrew</a></li>
                        <li><a href="#">Another Notification</a></li>
                        <li><a href="#">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->
