<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div id='calendar'></div>
    </div>
    <div class="row" style="margin-top:50px;margin-left:50px">
      <div class="col-md-6">
        <mat-card style="background-color:#303337">
          <mat-card-title style="color:red">Add New Event</mat-card-title>
            <mat-card-content>
              <form #form1 action="create_new_event" name="create_event" method="POST" [formGroup]="form">
                <mat-form-field>
                  <input matInput placeholder="Event Name" name="event_name" formControlName='event_name'>
                  <mat-error *ngIf="hasError('event_name', 'required')"><small> Name is required</small></mat-error>
                </mat-form-field>    
                <mat-form-field>
                  <input matInput placeholder="Venue" name="venue" formControlName='venue'>
                  <mat-error *ngIf="hasError('venue', 'required')"><small>Venue is required</small></mat-error>
                </mat-form-field>   
                <mat-form-field color="accent">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" formControlName='date'>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="hasError('date', 'required')"><small>is required</small></mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="time" placeholder="Time" name="time" formControlName='time'>
                  <mat-error *ngIf="hasError('time', 'required')"><small>Time is required</small></mat-error>
                </mat-form-field>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field>
                      <mat-select [formControl]="artist_data" placeholder="Artists" [multiple]="true">
                        <mat-select-trigger>
                          {{artist_data.value ? artist_data.value[0] : ''}}
                          <span *ngIf="artist_data.value?.length > 1" class="example-additional-selection">
                            (+{{artist_data.value.length - 1}} {{artist_data.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
                        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                          {{bank}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>  
                  </div>
                  <div class="col-4">
                    <mat-form-field>
                      <mat-select [formControl]="supplier_data" placeholder="Suppliers" [multiple]="true" #multiSelect>
                        <mat-select-trigger>
                          {{supplier_data.value ? supplier_data.value[0] : ''}}
                          <span *ngIf="supplier_data.value?.length > 1" class="example-additional-selection">
                            (+{{supplier_data.value.length - 1}} {{supplier_data.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
                        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                          {{bank}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>  
                  </div>
                  <div class="col-4">
                    <mat-form-field>
                      <mat-select [formControl]="venue_owner_data" placeholder="Venue Owners" [multiple]="true" #multiSelect>
                        <mat-select-trigger>
                          {{venue_owner_data.value ? venue_owner_data.value[0] : ''}}
                          <span *ngIf="venue_owner_data.value?.length > 1" class="example-additional-selection">
                            (+{{venue_owner_data.value.length - 1}} {{venue_owner_data.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
                        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                          {{bank}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>  
                  </div>
                </div>
                <input [value]="artist_data.value" type="text" name="artists[]" style="display: none">
                <input [value]="venue_owner_data.value" type="text" name="venue_owners[]" style="display: none">
                <input [value]="supplier_data.value" type="text" name="suppliers[]" style="display: none">
                <input [value]="user_name" type="text" name="user_name" style="display: none">
                <button mat-raised-button color="accent" (click)="form1.submit()">Add</button>
              </form>
            </mat-card-content>
        </mat-card> 
      </div>
    </div>
  </div>
</div>
