<div class="main-content">
  <div class="container-fluid">
    <p>dbhjcgdyugb</p>
      <div class="vertical-center">
          <div class="container">
              <form #form1 method="post" action="https://sandbox.payhere.lk/pay/checkout">   
                <input type="hidden" name="merchant_id" value="1213034"> 
                <input type="hidden" name="return_url" value="http://localhost:4200/organizer-home">
                <input type="hidden" name="cancel_url" value="http://localhost:4200/organizer-home">
                <input type="hidden" name="notify_url" value="http://localhost:4200/organizer-home">  
                <br><br>Item Details<br>
                <input type="text" name="order_id" value="ob5d67668">
                <input type="text" name="items" value="Door bell wireless"><br>
                <input type="text" name="currency" value="LKR">
                <input type="text" name="amount" value="2000">  
                <input type="number" id="quantityInput" value="3">
                <br><br>Customer Details<br>
                <input type="text" name="first_name" value="Saman">
                <input type="text" name="last_name" value="Perera"><br>
                <input type="text" name="email" value="samanp@gmail.com">
                <input type="text" name="phone" value="0771234567"><br>
                <input type="text" name="address" value="No.1, Galle Road">
                <input type="text" name="city" value="Colombo">
                <input type="hidden" name="country" value="Sri Lanka"><br><br> 
                <input type="submit" value="Buy Now" (click)="form1.submit()">   
            </form>
          </div>
        </div>
  </div>
  
  </div>
   