<!-- <div class="main-content"> 
  <div class="containe-fluid" id="container1">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="card ">
            <div class="card-header">
                <h4 class="text-xs-center">Skills<span class="glyphicon glyphicon-saved float-xs-right"></span></h4>
            </div>
            <div class="card-block text-xs-center">
                <p class="lead">
                    <strong>Technology Overview</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-xs-center">
                <li class="list-group-item">
                    <div class="skillLineDefault">
                        <div class="skill float-xs-left text-xs-center">HTML5</div>
                        <div class="rating" id="rate1"></div>
                    </div>
                </li>
                <li class="list-group-item text-xs-center">
                    <div class="skillLineDefault">
                        <div class="skill float-xs-left text-xs-center">CSS</div>
                        <div class="rating" id="rate2"></div>
                    </div>
                </li>
                <li class="list-group-item text-xs-center">
                    <div class="skillLineDefault">
                        <div class="skill float-xs-left text-xs-center">jQuery</div>
                        <div class="rating" id="rate3"></div>
                    </div>
                </li>
                <li class="list-group-item text-xs-center">
                    <div class="skillLineDefault">
                        <div class="skill float-xs-left text-xs-center">C#</div>
                        <div class="rating" id="rate4"></div>
                    </div>
                </li>
            </ul>
            <div class="card-footer text-xs-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="margin-top:20px">
      <div class="col-md-6">
          <mat-card>
              <mat-card-title style="color:blue"><b>User Info</b></mat-card-title>
              <mat-card-content>
                <img mat-card-image src="assets/img/faces/pro_img.png" style="margin-top:10px" alt="user_image">
                  <hr>
                  <div class="row">
                    <div class="col-6" style="float: left">
                      <p><b>Name</b></p>
                    </div>
                    <div class="col-6" style="float: left">
                      <p>abc</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" style="float: left">
                      <p><b>Role</b></p>
                    </div>
                    <div class="col-6" style="float:left">
                      <p>Artist</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" style="float: left">
                      <p><b>Events</b></p>
                    </div>
                    <div class="col-6" style="float:left">
                      <p>abdhd.ainks</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" style="float: left">
                      <p><b>Ratings</b></p>
                    </div>
                    <div class="col-6" style="float:left">
                      <p>
                        <ngb-rating [(rate)]="currentRate" max="5"  readonly="true">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                          </ng-template>
                        </ngb-rating>  
                      </p>
                    </div>
                  </div>
                  <hr>
                  <!-- <mat-progress-bar mode="indeterminate" *ngIf="isProcessing==true"></mat-progress-bar> -->
                  <mat-spinner *ngIf="isProcessing==true" [diameter]="20"></mat-spinner>
                  <button *ngIf="sent_bookings==false" mat-raised-button style="background-color:gold" (click)="book_now()">BOOK NOW</button>
                  <h4 *ngIf="sent_bookings==true"><b style="color:green"><i class="material-icons">done</i>Request Sent</b></h4>
              </mat-card-content>
            </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card>
          <mat-card-title></mat-card-title>
          <mat-card-content>
              <p><b>Post a comment:</b></p>
              <p id="load_items">view comment <a href="" id="load_commments" (click)="load()"><i class="material-icons" style="color: black">arrow_drop_down_circle</i></a></p>
              <p style="display: none" id="remove_items">view comment <a href="" id="remove_commments" (click)="remove()"><i class="material-icons" style="color: black">arrow_drop_up</i></a></p>
              <mat-list style="display: none" id="comments">
                <div *ngFor="let comments of comments_prev">
                  <mat-list-item>
                    <p style="font-size: 14px;margin-left: -15px"><b>{{comments.name}}:</b>{{comments.timeStamp |  date: 'yyyy-MM-dd HH:mm a'}}</p>
                    <p>{{comments.comment}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </div>
                <!-- <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item> -->
              </mat-list>          
              <mat-form-field>
                <textarea matInput placeholder="Post your comment here" [(ngModel)]="myComment" ></textarea>
              </mat-form-field>
              <button mat-raised-button color="accent" (click)="postComment()">Post</button>
              <hr>
              <p><b>Review your Rate</b></p>
              <ngb-rating [(rate)]="currentRate" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  Stars: <b>{{currentRate}}</b>
                </div>
                <div class="col-md-4">
                  <button mat-raised-button style="background-color: green" (click)="rateUser()">Rate</button>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <app-online-chat></app-online-chat>
    </div>
  </div>
</div>
<!-- <app-online-chat [user_auth]="search_token"></app-online-chat> -->

<!-- <p><b>Name</b></p>
<p><b>Role</b></p>
    <p><b>Events</b></p>
      <div class="row">
          <div class="col-4">
            <b>Ratings</b>
          </div>
          <div class="col-8">
              <ngb-rating [(rate)]="currentRate" max="5"  readonly="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                </ng-template>
              </ngb-rating> 
          </div>
        </div> -->