// #container1 {
//     margin-bottom: 120px;
//     padding:20px;
//     background-color:#f5f5f5;
// }

// .rating {
//     margin-left: 30px;
// }

// div.skill {
//     background: #5cb85c;
//     border-radius: 3px;
//     color: white;
//     font-weight: bold;
//     padding: 3px 4px;
//     width: 70px;
// }

// .skillLine {
//     display: inline-block;
//     width: 100%;
//     min-height: 90px;
//     padding: 3px 4px;
// }

// skillLineDefault {
//     padding: 3px 4px;
// }

.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: gold;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

.list-group{
  max-height: 400px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}