<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div id='calendar'></div>
      </div>
      <div class="row" style="margin-top:50px">
        <div class="col-md-6">
          <mat-card style="background-color:#303337">
            <mat-card-title style="color:red">Add New Event</mat-card-title>
              <mat-card-content>
                <form #form1 action="add_event" name="add_event_form" method="POST" [formGroup]="form">
                  <mat-form-field>
                    <input matInput placeholder="Event Name" name="event_name" formControlName='event_name'>
                    <mat-error *ngIf="hasError('event_name', 'required')"><small> Name is required</small></mat-error>
                  </mat-form-field>    
                  <mat-form-field>
                    <input matInput placeholder="Organizer" name="organizer" formControlName='organizer_name'>
                    <mat-error *ngIf="hasError('organizer_name', 'required')"><small>Organizer name is required</small></mat-error>
                  </mat-form-field>   
                  <mat-form-field>
                    <input matInput placeholder="Venue" name="venue" formControlName='venue'>
                    <mat-error *ngIf="hasError('venue', 'required')"><small>Venue is required</small></mat-error>
                  </mat-form-field>   
                  <mat-form-field color="accent">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" formControlName='date'>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="hasError('date', 'required')"><small>is required</small></mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="time" placeholder="Time" name="time" formControlName='time'>
                    <mat-error *ngIf="hasError('time', 'required')"><small>Time is required</small></mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="accent" name="submit" (click)="form1.submit()">Add</button>
                </form>
              </mat-card-content>
          </mat-card> 
        </div>
      </div>
    </div>
</div>
