<div class="main-content">
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-6">
        <mat-card style="width: 20rem;margin-top: 30px">
          <mat-card-title>
            <h4 style="color:red">Password Reset</h4>
          </mat-card-title>
          <mat-card-content>
            <form [formGroup]="form">
              <mat-form-field>
                <input matInput placeholder="Enter New Password" type="password" formControlName="new_password">
                <mat-error *ngIf="hasError('new_password', 'required')">*Password required</mat-error>
                <mat-error *ngIf="hasError('new_password', 'minlength')">*Enter 6 characters minimum</mat-error>
              </mat-form-field>              
              <mat-form-field>
                <input matInput placeholder="Re-Enter Password" type="password" formControlName="re_enter_password">
                <mat-error *ngIf="hasError('re_enter_password', 'required')">*Re enter password</mat-error>
                <mat-error *ngIf="hasError('re_enter_password', 'notequal')">*Password not matching</mat-error>
              </mat-form-field> 
              <button mat-raised-button color="accent" type="submit">Reset</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card style="width: 25rem;margin-top: 30px">
          <mat-card-title>
            <h4 style="color:blue">Hide / Unhide</h4>
          </mat-card-title>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Bio Details
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="chengeView('bio')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Rating
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('rating')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Play-List
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('playlist')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Past Events
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('pastEvents')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
            </mat-list>    
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <mat-card style="margin-top: 30px;width:24rem">
          <mat-card-title><h4 style="color:red"><b>Delete Account</b></h4></mat-card-title>
          <hr>
          <mat-card-content style="margin-top:20px">
            <button mat-raised-button style="background-color: red;color:white;margin-left:80px" id="delete_account" (click)="deleteAccount()">Delete Account</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card" style="width: 28rem;margin-top: 30px">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Manage Settings</h4>
            <p class="card-category">Reset-Password / Edit Visibility / Delete Account</p>
          </div>
          <div class="card-body">
            <h4 style="color:blue"><b>Password Reset</b></h4>
            <form [formGroup]="form">
              <mat-form-field>
                <input matInput placeholder="Enter New Password" type="password" formControlName="new_password">
                <mat-error *ngIf="hasError('new_password', 'required')">*Password required</mat-error>
                <mat-error *ngIf="hasError('new_password', 'minlength')">*Enter 6 characters minimum</mat-error>
              </mat-form-field>              
              <mat-form-field>
                <input matInput placeholder="Re-Enter Password" type="password" formControlName="re_enter_password">
                <mat-error *ngIf="hasError('re_enter_password', 'required')">*Re enter password</mat-error>
                <mat-error *ngIf="hasError('re_enter_password', 'notequal')">*Password not matching</mat-error>
              </mat-form-field> 
              <button mat-raised-button color="accent" type="submit">Reset</button>
            </form>
            <hr>
            <h4 style="color:blue"><b>Change Visibility</b></h4>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Bio Details
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="chengeView('bio')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Rating
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('rating')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Play-List
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('playlist')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
              <mat-list-item role="listitem">
                <div class="col-md-8" style="margin-left:-14px">
                  Past Events
                </div>
                <div class="col-md-4">
                  <a href="#" (click)="changeView('pastEvents')"><img src="assets/img/visible.png" style="margin-left:50px"></a>
                </div>
              </mat-list-item>
              <hr style="margin-top: -4px">
            </mat-list>   
            <hr>
            <h4 style="color:red"><b>Delete Account</b></h4>
            <button mat-raised-button style="background-color: red;color:white;margin-left:80px;margin-top:15px" id="delete_account" (click)="deleteAccount()">Delete Account</button>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <!-- <button mat-raised-button (click)="openDialog()">Pick one</button>
    <h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
 
</div> -->

  </div>
</div>