<div class="main-content">
    <div class="container-fluid container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="assets/img/cover.jpeg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container" *ngIf="!isSuccess">
                    <form #form1 [formGroup]="form">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                              <span class="input-group-text"><img src="https://img.icons8.com/material/24/000000/gender-neutral-user--v1.png"></span>
                            </div>
                            <input type="text" name="user_name" id="user_name" class="form-control input_user" placeholder="username" formControlName="username" [(ngModel)]="user_email"
                            [ngClass]="{'input_fail':form.get('username').invalid && form.get('username').touched,'input_pass':form.get('username').touched && form.get('username').valid}">
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container" *ngIf="!isSuccess">
                  <button type="button" name="button" class="btn login_btn" (click)="reset_password()">Enter Email</button>
                </div>
                <div class="alert alert-success alert-with-icon" *ngIf="isSuccess">
                    <i class="material-icons" data-notify="icon">done_outline</i>
                    <span><b>Successfully Sent the Email </b></span>
                </div>  
            </div>
        </div>
    </div> 
</div>