<div class="main-content">
    <div class="container-fluid">
        <mat-slide-toggle *ngIf="!isBookingView" [checked]="checked" (change)="booking()">Toggle to View Bookings</mat-slide-toggle>
        <mat-slide-toggle *ngIf="isBookingView" [checked]="notification_checked" (change)="notifications()">View Bookings</mat-slide-toggle>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" *ngIf="!isBookingView">Notifications</h3>
                <h3 class="card-title" *ngIf="isBookingView">Booking Requests</h3>
            </div>
            <div class="card-body" *ngIf="(isBookingView && booking_data.length>0) || (!isBookingView && (message_data.length>0 || chat_messages.length>0))">
  
                <div class="row" *ngIf="isBookingView && user_role!='organizer'">
                    <div class="col-md-12" *ngFor="let booking_data of booking_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data && booking_data.data.paid===false">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.data.event_id,'cancel')">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>You have received new booking request from {{booking_data.data.sender_name}}.To view details click<a href="#" data-toggle="modal" data-target="#exampleModal" (click)="openModal(booking_data.data.sender_email,booking_data.data.sender_name,booking_data.data.event_name,booking_data.data.event_id,booking_data.data.date)"> view request details</a></b></span>
                        </div> 
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data && booking_data.data.paid===true">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.data.event_id,'cancel')">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>{{booking_data.data.sender_name}} has paid the amount for the event {{booking_data.data.event_name}}.</b></span>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="isBookingView && user_role==='organizer'">
                    <div class="col-md-12" *ngFor="let booking_data of booking_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data.data && booking_data.data.status!=='Rejected'">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.data.event_id,'cancel')">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b>Your request to {{booking_data.data.user_name}} has been {{booking_data.data.status}}. User price : {{booking_data.data.price}}.To do payments click the following button
                                    <!-- <a href="https://sandbox.payhere.lk/pay/ob5d67668">PayPal</a> -->
                                </b>
                                <form #form action="/user-payments/{{booking_data.data.user_name}}/{{booking_data.data.user_email}}/0/{{booking_data.data.price}}/{{booking_data.data.event_id}}/{{booking_data._id}}" target="_blank" method="GET">
                                    <input name="submit" type="image" src="https://www.payhere.lk/downloads/images/pay_with_payhere.png" style="width:150px" value="Buy Now" (click)="form.submit()">
                                </form>
                            </span>
                        </div> 
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data && booking_data.data.status==='Rejected'">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data._id,'cancel')">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b>Your request to {{booking_data.data.user_name}} has been {{booking_data.data.status}}.Please contact the user to get more details. The user has been removed from your event. Please edit the event to add again the user.
                                    <!-- <a href="https://sandbox.payhere.lk/pay/ob5d67668">PayPal</a> -->
                                </b>
                            </span>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="!isBookingView">
                    <div class="col-md-12" *ngFor="let message_data of message_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_notification(message_data.id)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>You have received new message from {{message_data.sender_name}} on {{message_data.date.seconds*1000 | date }}.<a href="#" (click)="loadMessageModal(message_data.id,$event)" data-toggle="modal" data-target="#messageModal">Click here to view the message</a></b></span>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="!isBookingView">
                    <div class="col-md-12" *ngFor="let chats of chat_messages">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="chat_messages.length>0">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_chat_notifications(chats.sender)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>You have received {{chats.message}}{{chats.sender}} on {{chats.date}}<a href="ratings/{{chats.user_name}}" id="redirect_user_href" (click)="mark_chat_notifications(chats.sender)">{{chats.chat_id}}</a> to join the chat.</b></span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="!isBookingView && message_data.length==0 && chat_messages.length==0">
                <h3 style="color:green" class="blink"><b>EMPTY NOTIFICATIONS</b></h3>
            </div>
            <div class="card-body" *ngIf="isBookingView && booking_data.length==0">
                <h3 style="color:green" class="blink"><b>EMPTY REQUESTS</b></h3>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">View Request Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>From : {{req_from}}</b></p>
                        <p><b>Organizer Name : {{req_name}}</b></p>
                        <p><b>Date : {{req_time}}</b></p>
                        <p><b>Event Name : {{eventName}}</b></p>
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-4 col-4"></div>
                                <div class="col-md col-4">
                                    <mat-form-field>
                                        <mat-label style="color:white">Price</mat-label>
                                        <input matInput required type="number" placeholder="Enter the Price" id="price" style="color:white" formControlName="price" name="price">
                                        <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <!-- <p><b>Contact : {{req_contact}}</b></p> -->
                        <p align="center"><a href="ratings/{{req_name}}" target="_blank"  (click)="addUserEmail(req_from,req_status)">View Organizer Details</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="decline(req_id)">DECLINE</button>
                      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="accept(req_id)">ACCEPT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal 2-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">{{user_message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

                      <!-- <div class="col-md-6">
                        <h4 class="card-title">Notifications Style</h4>
                        <div class="alert alert-info">
                            <span>This is a plain notification</span>
                        </div>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>This is a notification with close button.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <h4 class="card-title">Notification states</h4>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                        </div>
                        <div class="alert alert-primary">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-12">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title">
                                Notifications Places
                                <p class="category">Click to view notifications</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
