<div class="main-content">
    <div class="container-fluid">
        <mat-slide-toggle *ngIf="!isBookingView" [checked]="checked" (change)="booking()">Toggle to View Bookings</mat-slide-toggle>
        <mat-slide-toggle *ngIf="isBookingView" [checked]="notification_checked" (change)="notifications()">View Bookings</mat-slide-toggle>
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title" *ngIf="!isBookingView">Notifications</h3>
                <h3 class="card-title" *ngIf="isBookingView">Booking Requests</h3>
            </div>
            <div class="card-body" *ngIf="(isBookingView && booking_data.length>0) || (!isBookingView && message_data.length>0)">
                <!-- <div class="row" *ngIf="isBookingView && user_role=='organizer'">
                    <div class="col-md-12" *ngFor="let booking_data of booking_data">
                        <div class="alert alert-success alert-with-icon" data-notify="container" *ngIf="booking_data.status=='Confirmed' && booking_data.view==false">
                            <i class="material-icons" data-notify="icon">done_outline</i>
                                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.receiver_email)">
                                    <i class="material-icons">close</i>
                                </button>
                            <span><b> Success - </b>Your request to {{booking_data.receiver_name}} on {{booking_data.time}} has been accepted. Please visit this link for the payment</span>
                        </div>  
                        <div class="alert alert-danger alert-with-icon" data-notify="container" *ngIf="booking_data.status=='Rejected' && booking_data.view==false">
                            <i class="material-icons" data-notify="icon">report_problem</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.receiver_email)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b> Success - </b>Your request to {{booking_data.receiver_name}} on {{booking_data.time}} has been rejected</span>
                        </div>   
                        <div class="alert alert-warning alert-with-icon" data-notify="container" *ngIf="booking_data.status=='Pending' && booking_data.view==false">
                            <i class="material-icons" data-notify="icon">info</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.receiver_email)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b> Pending  - </b>Your request to {{booking_data.receiver_name}} on {{booking_data.time}} is not accepted yet.</span> 
                        </div>
                    </div>
                </div> -->
                <div class="row" *ngIf="isBookingView && user_role!='organizer'">
                    <div class="col-md-12" *ngFor="let booking_data of booking_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.user_email)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>You have received new booking request from {{booking_data.sender_name}}.To view details click<a href="#" data-toggle="modal" data-target="#exampleModal" (click)="mark_view_booking_notification(booking_data.sender_email)"> view request details</a></b></span>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="isBookingView && user_role==='organizer'">
                    <div class="col-md-12" *ngFor="let booking_data of booking_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="booking_data">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(booking_data.user_email)">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b>Your request to {{booking_data.user_name}} has been {{booking_data.status}}.To do payments click the following button
                                    <!-- <a href="https://sandbox.payhere.lk/pay/ob5d67668">PayPal</a> -->
                                </b>
                                <form #form action="/payment" target="_blank" method="GET">
                                    <input name="submit" type="image" src="https://www.payhere.lk/downloads/images/pay_with_payhere.png" style="width:150px" value="Buy Now" (click)="form.submit()">
                                </form>
                                <!-- <form #form1 method="POST" action="https://sandbox.payhere.lk/pay/checkout">   
                                    <input type="hidden" name="merchant_id" value="1213034"> 
                                    <input type="hidden" name="return_url" value="http://localhost:4200/organizer-home">
                                    <input type="hidden" name="cancel_url" value="http://localhost:4200/organizer-home">
                                    <input type="hidden" name="notify_url" value="http://localhost:4200/organizer-home">  
                                    <br><br>Item Details<br>
                                    <input type="text" name="order_id" value="ob5d67668">
                                    <input type="text" name="items" value="Door bell wireless"><br>
                                    <input type="text" name="currency" value="LKR">
                                    <input type="text" name="amount" value="2000">  
                                    <input type="number" id="quantityInput" value="3">
                                    <br><br>Customer Details<br>
                                    <input type="text" name="first_name" value="Saman">
                                    <input type="text" name="last_name" value="Perera"><br>
                                    <input type="text" name="email" value="samanp@gmail.com">
                                    <input type="text" name="phone" value="0771234567"><br>
                                    <input type="text" name="address" value="No.1, Galle Road">
                                    <input type="text" name="city" value="Colombo">
                                    <input type="hidden" name="country" value="Sri Lanka"><br><br> 
                                    <input type="submit" value="Buy Now" (click)="form1.submit()">   
                                </form> -->
                            </span>
                        </div> 
                    </div>
                </div>
                <div class="row" *ngIf="!isBookingView">
                    <div class="col-md-12" *ngFor="let message_data of message_data">
                        <div class="alert alert-info alert-with-icon" data-notify="container" *ngIf="message_data">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mark_view_booking_notification(message_data.sender_email)">
                                <i class="material-icons">close</i>
                            </button>
                            <span><b>You have received new message from {{message_data.sender_name}} on {{message_data.date}}.Click <a href="/my-chat-list" (click)="mark_view_booking_notification(message_data.sender_email)">{{message_data.roomId}}</a> to join the chat.</b></span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="!isBookingView && message_data.length==0">
                <h3 style="color:green" class="blink"><b>EMPTY NOTIFICATIONS</b></h3>
            </div>
            <div class="card-body" *ngIf="isBookingView && booking_data.length==0">
                <h3 style="color:green" class="blink"><b>EMPTY REQUESTS</b></h3>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">View Request Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>From : {{req_from}}</b></p>
                        <p><b>Organizer Name : {{req_name}}</b></p>
                        <p><b>Time : {{req_time}}</b></p>
                        <!-- <p><b>Contact : {{req_contact}}</b></p> -->
                        <p align="center"><a href="ratings/{{req_name}}" (click)="addUserEmail(req_from,req_status)">View Organizer Details</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeNotification(req_from)">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                      <!-- <div class="col-md-6">
                        <h4 class="card-title">Notifications Style</h4>
                        <div class="alert alert-info">
                            <span>This is a plain notification</span>
                        </div>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>This is a notification with close button.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon.</span>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <h4 class="card-title">Notification states</h4>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                        </div>
                        <div class="alert alert-primary">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-12">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title">
                                Notifications Places
                                <p class="category">Click to view notifications</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
