 
<div class="main-content" style="background-color:#212121;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="isLoading===false && filtered_users.length>0 ">
        <div class="card"  style="background-color:#878d8d">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-6 col-6">
                <h4 class="card-title ">User List</h4>
                <p class="card-category"> All users of EventCorp</p>
              </div>
              <div class="col-md-6 col-6">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <p style="padding-top:20px;color:white">Filter Users :</p>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <mat-form-field>
                      <mat-select (selectionChange)="filterRoles($event)" id="selection" [(ngModel)]="selection" [ngModelOptions]="{standalone: true}" placeholder="{{selection}}">
                        <mat-option value="{{roles.value}}" *ngFor="let roles of roles">{{roles.role}}</mat-option>
                        <mat-option value="all">All</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="background-color:#878d8d">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">State</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user_profile of filtered_users;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{user_profile.user_name}}</td>
                <td>{{user_profile.city}}</td>
                <td>{{user_profile.email}}</td>
                <td *ngIf="user_profile.profile_status=='Active'"><b style="color:green">{{user_profile.profile_status}}</b></td>
                <td *ngIf="user_profile.profile_status=='Deleted'"><b style="color:red">{{user_profile.profile_status}}</b></td>
                <td *ngIf="user_profile.profile_status=='Active'"><button mat-raised-button color="warn" (click)="remove_user(user_profile.email)">Remove</button></td>
                <td *ngIf="user_profile.profile_status=='Deleted'"><button mat-raised-button style="background-color:green;" (click)="recover_user(user_profile.email)">Activate</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class=" col-md-12 alert alert-danger alert-with-icon" *ngIf="isLoading===false && filtered_users.length===0">
        <i class="material-icons" data-notify="icon">error_outline</i>
          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">  <i class="material-icons">close</i></button>
          <span data-notify="message">
            <b><h3 align="center">No User Found in EventCorp</h3></b></span>
      </div>
    </div>
  </div>
</div>