<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row" style="margin-top:80px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Log In</h4>
                        <p class="card-category">Enter your credentials</p>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger alert-with-icon" *ngIf="isInvalid"> 
                            <i class="material-icons" data-notify="icon">error_outline</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">  <i class="material-icons">close</i></button>
                            <span data-notify="message">
                            <b>Login Error:</b>Enter valid credentials</span>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <notifier-container>abcd</notifier-container>
                                    <mat-form-field style="margin-top:20px">
                                        <input matInput placeholder="user name" id="user_name" type="email">
                                        <span matPrefix style="margin-right:6px"><img src="https://img.icons8.com/material/24/000000/gender-neutral-user--v1.png"></span>
                                    </mat-form-field>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <mat-form-field>
                                        <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" id="password">
                                        <span matPrefix style="margin-right: 6px"><img src="https://img.icons8.com/material/24/000000/key.png"></span>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        </button>
                                    </mat-form-field>     
                                </div>
                                <div class="col-2"></div>
                            </div> 
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <mat-checkbox id="remember_me" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">Remember me</mat-checkbox>
                                </div>
                                <div class="col-2"></div>
                            </div>    
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <button  mat-raised-button class="btn btn-success" style="width: 18rem;margin-left:-16px;margin-top:10px;margin-bottom: 10px" (click)="login_validate()">Log In</button>   
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <a href="#" style="margin-left:75px;margin-bottom: 50px!important">forget password?</a>   
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div> -->

<a href="" class="btn" style="display:none" id="redirect_link"></a>
<input id="user_role" value="" style="display: none">

<!-- 
<div class="main-content">
    <div class="container-fluid container h-100">
        <div class="d-flex justify-content-center h-100">
              <div class="user_card">
                  <div class="d-flex justify-content-center">
                      <div class="brand_logo_container">
                          <img src="assets/img/eventcorp.png" class="brand_logo" alt="Logo">
                      </div>
                  </div>
                  <div class="d-flex justify-content-center form_container">
                      <form #form1 [formGroup]="form">
                          <h6 *ngIf="!isTrue"><div class="alert alert-danger" role="alert" style="text-align: center">Error Login</div></h6> -->
                          <!-- <h6 *ngIf="session_timeout"><div class="alert alert-warning" role="alert" style="text-align: center">Session Expired!</div></h6> -->
                          <!-- <div class="input-group mb-3">
                              <div class="input-group-append">
                                  <span class="input-group-text"><img src="https://img.icons8.com/material/24/000000/gender-neutral-user--v1.png"></span>
                              </div>
                              <input type="text" name="user_name" id="user_name" class="form-control input_user" placeholder="username" formControlName="user_name">
                          </div>
                          <div class="input-group mb-2">
                              <div class="input-group-append">
                                  <span class="input-group-text"><img src="https://img.icons8.com/material/24/000000/key.png"></span>
                              </div>
                              <input type="password" name="password" id="password" class="form-control input_pass"  placeholder="password" formControlName="password" (keyup.enter)="login_validate()">
                          </div>
                          <div class="form-check" style="margin-top:20px">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" id="remember_user">
                                    Remember Me
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                          </div>
                          <div class="input-group">
                            <a href="enter-email-reset-password" style="margin-left:75px;margin-top:15px">Forget Password?</a>
                          </div>
                      </form>
                  </div>
                  <div class="d-flex justify-content-center mt-3 login_container">
                      <button type="button" *ngIf="!isLoading" name="button" class="btn login_btn" (click)="login_validate()">Login</button>
                      <button type="button" *ngIf="isLoading" name="button"  class="btn login_btn" disabled>Loading...</button>
                  </div>
              </div>
        </div>
    </div> 
</div> -->
    <!--  <a href="dashboard" id="redirect_to" style="display: none"></a>  -->

    <div class="main-content container-fluid">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                  <div class="user_card">
                      <div class="card-header">
                          <h3>Log In</h3>
                    </div>
                    <div class="card-body">
                          <form #form1 [formGroup]="form">
                              <h6 *ngIf="!isLoading && !isTrue && isRegistered"><div class="alert alert-danger" role="alert" style="text-align: center">Credentials Not Matched!</div></h6>
                              <h6 *ngIf="!isLoading && !isTrue && !isRegistered"><div class="alert alert-danger" role="alert" style="text-align: center">User Not Exists.Please Register!</div></h6>
                              <!-- <h6 *ngIf="session_timeout"><div class="alert alert-warning" role="alert" style="text-align: center">Session Expired!</div></h6> -->
                              <div class="input-group form-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><img src="https://img.icons8.com/material/24/000000/gender-neutral-user--v1.png"></span>
                                  </div>
                                  <input type="text" name="user_name" id="user_name" class="form-control input_user" placeholder="username" formControlName="user_name">
                              </div>
                              <div class="input-group form-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><img src="https://img.icons8.com/material/24/000000/key.png"></span>
                                  </div>
                                  <input type="password" name="password" id="password" class="form-control input_pass"  placeholder="password" formControlName="password" (keyup.enter)="login_validate()">
                              </div>
                              <div class="row align-item-center form-check" style="padding-bottom: 10px;">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" id="remember_user">
                                        Remember Me
                                    <span class="form-check-sign" >
                                        <span class="check" ></span>
                                    </span>
                                </label>
                              </div>
                              <div class="d-flex justify-content-center login_container">
                                <button type="button" *ngIf="!isLoading" name="button" class="btn login_btn" (click)="login_validate()">Login</button>
                                <button type="button" *ngIf="isLoading" name="button"  class="btn login_btn" disabled>Loading...</button>
                            </div>
                              <div class="form-group">
                                <a href="enter-email-reset-password" style="margin-left:100px;margin-top:15px;">Forget Password?</a>
                              </div>
                              <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                  Don't have an account?<a href="signup">Sign Up</a>
                              </div>
                              </div>
                          </form>
                      </div>
                      
                      
                      
                    </div>
                  </div>
            </div>
        </div> 
    