.list-group{
    //max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .avatar{
    border-radius: 50%;
  }
hr{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
  // .example-card {
  //   max-width: 400px;
  // }
  
  // .example-header-image {
  //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }
  
//   .details{
//     word-spacing: 40px;
//   }
  
//   .star {
//     font-size: 1.5rem;
//     color: #b0c4de;
//   }
//   .filled {
//     color: gold;
//   }
//   .bad {
//     color: #deb0b0;
//   }
//   .filled.bad {
//     color: #ff1e1e;
//   }

#calendar-container{
  padding: 1px;
  width: 210px;
  height: 240px;
  text-align: center;
  border: 4px solid darkblue;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial;
  background-image: linear-gradient(#fff,#d3d3d3);
}

#calendar-container>div{
  padding: 0px;
  margin-bottom: 10px;
}
#calendar-month-year{
  margin:4px;
}

#calendar-month-year{
  color:darkslategrey;
}

.list-group{
  max-height: 400px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.avatar{
  border-radius: 50%;
}

.details{
  word-spacing: 40px;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: gold;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

.list-group{
max-height: 400px;
margin-bottom: 10px;
overflow:scroll;
-webkit-overflow-scrolling: touch;
}

a:hover{
  text-decoration: none!important;
  
}

// #calendar-dates>table>tr>td{
//   padding: 500px!important;
// }

  