<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="card" *ngIf="!isOpened">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="card-title"><b>Chat List</b></h4>
              </div>
              <div class="card-body">
                <mat-list role="list" [ngClass]="{'list-group':chats.length>6}">
                  <div *ngFor="let chats of chats">
                    <a href="#" *ngIf="chats.organizer=='organizer'" (click)="open_selected_chat(chats.receiver_email,chats.roomId,chats.receiver_name)" id="open_chat_selected">
                      <mat-list-item role="listitem"><mat-icon mat-list-icon><img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" ></mat-icon> <p mat-line style="margin-left:10px;margin-top:-5px;" >{{chats.receiver_name}}</p></mat-list-item>
                    </a>
                    <a href="#" *ngIf="chats.organizer=='non-organizer'" (click)="open_selected_chat(chats.sender_email,chats.roomId,chats.sender_name)" id="open_chat_selected">
                      <mat-list-item role="listitem"><mat-icon mat-list-icon><img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" ></mat-icon> <p mat-line style="margin-left:10px;margin-top:-5px;" >{{chats.sender_name}}</p></mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                  </div>
                </mat-list>    
              </div>
          </div>
        <!-- <mat-card *ngIf="!isOpened">
          <mat-card-title>Chat List</mat-card-title>
          <mat-card-content>
            <mat-list role="list" [ngClass]="{'list-group':chats.length>6}">
              <div *ngFor="let chats of chats">
                <a href="#" *ngIf="chats.organizer=='organizer'" (click)="open_selected_chat(chats.receiver_email,chats.roomId,chats.receiver_name)" id="open_chat_selected">
                  <mat-list-item role="listitem"><mat-icon mat-list-icon><img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" ></mat-icon> <p mat-line style="margin-left:10px;margin-top:-5px;" >{{chats.receiver_name}}</p></mat-list-item>
                </a>
                <a href="#" *ngIf="chats.organizer=='non-organizer'" (click)="open_selected_chat(chats.sender_email,chats.roomId,chats.sender_name)" id="open_chat_selected">
                  <mat-list-item role="listitem"><mat-icon mat-list-icon><img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" ></mat-icon> <p mat-line style="margin-left:10px;margin-top:-5px;" >{{chats.sender_name}}</p></mat-list-item>
                </a>
                <mat-divider></mat-divider>
              </div>
            </mat-list>    
          </mat-card-content>
        </mat-card> -->

        <mat-card *ngIf="isOpened">
            <mat-card-title><a href="#" (click)="closeChat()" id="close_chat_href"><i class="material-icons">keyboard_arrow_left</i></a>{{chat_user_name}}</mat-card-title>
            <mat-card-content>
              <mat-list role="list" [ngClass]="{'list-group':messageArray.length>5}">
                <div *ngFor="let messages of messageArray">
                  <!-- <mat-list-item role="listitem">{{messages.message}}</mat-list-item> -->
                  <mat-list-item role="listitem" class="break" *ngIf="messages.user==user">
                      <mat-icon mat-list-icon>
                        <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px;margin-left:-20px" class="avatar" > 
                      </mat-icon>
                      <p mat-line style="margin-left:15px;margin-top:-5px" >{{messages.user}}</p>
                      <p mat-line style="margin-left:15px">{{messages.message}}</p>
                           <!-- <span small>{{message.date}}</span> -->
                    </mat-list-item>
                   
                    <mat-list-item role="listitem" *ngIf="messages.user!=user">
                      <p mat-line class="break">{{messages.user}}</p>
                      <p mat-line>{{messages.message}}</p>
                      <!-- <span small>{{message.date}}</span> -->
                      <mat-icon mat-list-icon >
                        <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-10px;margin-right:-170px" class="avatar1" > 
                      </mat-icon>
                    </mat-list-item>
                  <mat-divider></mat-divider>
                </div>
              </mat-list>  
              <form>
                  <div class="col-md-10 send-box">
                    <mat-form-field>
                      <input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" id="user" style="display: none">
                      <textarea matInput placeholder="Enter text here" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" id="room" (keyup.enter)="sendMessage()" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
                    </mat-form-field>
                  </div>
                </form>  
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>
</div>


