<form #form4 action="upload" method="POST" enctype="multipart/form-data">
 <!--- <button type="button" class="btn btn-primary btn-circle" id="testBtn" style="background-color:aqua!important">ADD</button>  <input type="file" id="testUp" name="myImage" style="display:hidden" accept="image/*" /> -->
 
  <div class="form-group">
    <div class="input-group">
   <button type="button" class="btn btn-primary btn-circle" id="testBtn" style="background-color:aqua!important"><img src="../../../assets/img/images.png"  /></button><input type="file" id="albumImage1" style="display:hidden" name="myImage" accept="image/*">
    </div>
  </div>
</form>
<input type="submit" value="Upload Photo" (click)="form4.submit()"/>