<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title-group>
                        <mat-card-title>Upload Picture</mat-card-title>
                    </mat-card-title-group>
                    <mat-card-header>
                        <div class="image_hover">
                            <a href="#" id="profile_picture">
                                <img mat-card-md-image mat-card-avatar src="assets/img/faces/pro_img.png" style="margin-left:60px">
                            </a>
                            <div class="overlay">
                                <button class="btn btn-primary" id="uploader">Add</button>
                                <button class="btn btn-danger" id="remove">Remove</button>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        My Bio Data
                    </mat-card-content>
                </mat-card>
      <!-- <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="Profile Picture" id="test">
        </div>
        <div class="card-body">
          <div class="author">
              <div class="avatar" style="margin-left:30%">
                <a href="#" id="profile_uploader" class="author">
                    <img class="border-gray" id="profile_pic" src="assets/img/pro_img.png" alt="Profile Picture" title="upload_picture">
                </a>
                <div class="overlay">
                  <button class="btn btn-primary" id="uploader">Add</button>
                  <button class="btn btn-danger" id="remove">Remove</button>
                </div>
                </div>
          </div>
          <h5 class="title" *ngIf="f_name!=undefined&&l_name!=undefined" align="center">{{f_name+" "+l_name}}</h5>
          <h5 class="title" *ngIf="f_name==undefined||l_name==undefined" align="center">Nilaksha Deemantha</h5>
          <p class="description text-center" style="margin-top: 10px;color:black">{{bio_des}}</p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>2GB
                  <br>
                  <small>Memory Used</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div> -->
            </div>
            <div class="col-md-8">
                <mat-card style="background-color:#303337">
                    <mat-card-title style="color:white">Profile Info</mat-card-title>
                    <mat-card-content>
                        <form #profile_form action="user_details" [formGroup]="form" method="POST" id="profile_form">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput placeholder="First Name" style="color:white" formControlName="f_name">
                                        <mat-error *ngIf="hasError('f_name', 'required')">First name is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Last Name" style="color:white" formControlName="l_name">
                                        <mat-error *ngIf="hasError('l_name', 'required')">Last name is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput placeholder="Address" style="color:white" formControlName="address">
                                <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
                            </mat-form-field>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Country" style="color:white" formControlName="country">
                                        <mat-error *ngIf="hasError('country', 'required')">Country is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput placeholder="State" style="color:white" formControlName="state" >
                                        <mat-error *ngIf="hasError('state', 'required')">State is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput placeholder="Email" type="email" style="color:white" formControlName="email">
                                <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                                <mat-error *ngIf="hasError('email', 'email')">Enter a valid email</mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field>
                                <a href="#" id="image_uploader" name="image_uploader"  class="btn btn-primary btn-circle" style="background-color: aqua"><img src="assets/img/images.png"  alt="Image" title="upload-image"></a> <input type="file" id="imgInp" name="imgInp" style="display:none" accept="image/*">   
                                <a href="#" id="video_uploader"  name="video_uploader"  class="btn btn-primary btn-circle" style="background-color: aqua;margin-left:40px"><img src="assets/img/video.png" title="upload_video" alt="upload-video"></a><input type="file" id="videoInp" name="videoInp" style="display: none" accept="video/*">
                            </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div style="width:60px;height:60px" name="imageUploaded" id="imageUploaded">
                                        <div id="container">
                                            <img src="" name="image" id="image">
                                            <button class="btn1" id="del" style="display: none" ><i class="material-icons">delete_forever</i></button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <button mat-raised-button type="submit" id="submitBtn" (click)="profile_form.submit()" color="primary">Update</button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <mat-card style="background-color:#303337">
                    <mat-card-title style="color:white">Edit Events</mat-card-title>
                    <mat-card-content>
                        <mat-list role="list" class="list-group">
                            <mat-list-item role="listitem" style="color:white">Item 1</mat-list-item>
                          </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>           
</div>

