.calendar{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    // padding-left: 30px;
}

.fc-content{
    background-color: green;
}

.text-mattGray, body, .nav-link .icon, .nav-link .text{
    color: red;
}

.text-mattGray, body, .nav-link .icon, .nav-link .text {
    color: black;
}