<div class="main-content">
  <div class="container-fluid">
    <h3>Report Notifications</h3>
    <div class="row">

      
      <div class="requests">
      <div class="list-group users-list">

        <div *ngFor="let report of reports" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="row">
          <div class="col-md-9">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="header">
                  <mat-panel-title>
                    <b>Reported By - </b> {{ report.reported_by }}
                  </mat-panel-title>
                  <mat-panel-description class="desc">
                    <b>Date - </b> {{ report.date }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                  <b>Comment - </b>{{ report.comment }}
                </div>
                <div>
                  <b>Commented User's Name - </b> {{ report.user_name }}
                </div>
                <div>
                  <b>Commented User's Email -</b> {{ report.user_email }}
                </div>                
            
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="col-md-3 actions-col">
            <!-- <button type="button" class="btn btn-primary" (click)="sendWarning()">Send Warning</button> -->
          <button style="margin-left: 10px;" type="button" class="btn btn-danger" (click)="deleteUser(user_mail)">Delete User</button>
          <button  type="button" class="btn btn-success" (click)="deleteReport(report.id)">Delete Report</button>
          <button  type="button" class="btn btn-primary" style="background-color: rgb(110, 115, 192); border-color: blue;" (click)="deleteComment(report.reported_by,report.id)">Delete Comment</button>


            <!-- <button class="btn btn-outline-primary action" (click)="acceptRequest(item.payload.doc.id)" type="button">Accept</button>
          <button class="btn btn-outline-danger action" (click)="declineRequest(item.payload.doc.id)" type="button">Decline</button> -->
            <!-- <button class="btn btn-outline-primary action" (click)="" type="button">Event
              Calendar</button>
            <button class="btn btn-outline-primary action" (click)="" type="button">Delete</button> -->
          </div>

          </div>
  
          <!-- <div class="row tile">            
            <div class="col-md-5 text-col">
              <h5 class="mb-1">{{report.reported_by}}</h5>
              <small>Fee - Rs. {{report.date}}</small>
            </div>
            
          </div> -->
        </div>
      </div>
    </div>

      <!-- <div class="card">
        <div class="card-header card-header-danger">
          <h3 class="card-title">Notifications</h3>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="reports.length>0">
            <div class="col-md-12" *ngFor="let reports of reports">
              <div class="alert alert-info alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span><b>You have received new Report from {{reports.reported_by}} on {{reports.date}}. <a href="" id="report_notification" style="text-decoration:none;color:red" data-toggle="modal" data-target="#exampleModal" (click)="filterComment(reports.id)">Click Here to View Report Details</a></b></span>
              </div> 
            </div>
          </div>
        </div>
      </div> -->
    </div>  
  
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b style="color:red">Report</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>Comment :</b> {{comment}}</p>
          <p><b>Reported By :</b> {{reported_by}}</p>
          <p><b>Commented User Name :</b> {{user_name}}</p>
          <p><b>Comment User Email :</b> {{user_mail}}</p>
          <p><b>Date :</b> {{date}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendWarning()"><b>SEND WARNING</b></button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user_mail)"><b>DELETE USER</b></button>
        </div>
      </div>
    </div>
  </div> -->