<nav class="navbar navbar-expand-lg nav-bar-dark bg-dark">
      <a class="navbar-brand" href="#">EventCorp</a>
      <button class="navbar-toggler" type="button" style="margin-right:10px" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="login()" id="login">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="signUp()" id="signup">Sign Up</a>
          </li>
        </ul>
      </div>
  
  </nav>
 
<!-- <mat-toolbar color="primary" class="nav-bar">
    <div>Codeignitor</div>
    <div>
      <span>Home</span>
      <span>Events</span>
      <span><button mat-raised-button color="warn" (click)="login()">Log In</button></span>
      <span><button mat-raised-button color="warn" (click)="signUp()">Sign Up</button></span>
    </div>
</mat-toolbar>

 <div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Responsive Navigation</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>

          <a href="#" mat-raised-button (click)="login()">Login</a>
          <a href="#" mat-raised-button (click)="signUp()">Sign Up</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar> 
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a href="#" mat-raised-button (click)="login()" id="login">Login</a>
          <a href="#" mat-raised-button (click)="signUp()" id="signup">Sign Up</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->
  