.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }
  
.container-fluid{
  background-color: white;
  border-radius: 10px;
}

.heading{
  margin-top: 20px;
}