.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }
  
.container-fluid{
  background-color: white;
  border-radius: 10px;
}

.heading{
  padding-top: 20px;
  // padding-left: 10px;
}
.submitButton{
  margin-bottom: 15px;
}

.reservationForm{
  margin: 20px;
}