<div class="main-content">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-warning" >
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h4 class="card-title">EQUIEPMENT SUPPLIERS</h4>
            <p>Choose Your Service Provider</p>
          </div> 
          <div class="col-md-6 col-sm-6">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <!-- <p style="padding-top:20px;color:white">Search Products :</p> -->
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group" style="padding-top:5px">
                  <input type="text" placeholder="Search Here" class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"/>
                </div>    
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="card-content table-responsive table-full-width" [ngClass]="{'list-group':provider_array.length>15}">
        <table class="table">
          <tbody>
            <tr *ngFor="let provider of provider_array | searchProvider:searchText">
              <td><a style="text-decoration: none;" href="{{provider.image_url}}" target="_blank"><img src="{{provider.image_url}}" style="height:50px;width:50px"></a></td>
              <td style="font-size: medium;"><b>{{provider.user_name}}</b></td>
              <td><i class="fa fa-phone"></i>{{provider.contact}}</td>
              <td><i class="fa fa-envelope"></i>{{provider.email}}</td>
              <td><i class="fa fa-map-marker"></i>{{provider.city}}</td>
              <td> <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" (click)="getItems(provider.email)">Equiepments</button>
              
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel">Our Equiepments</h5>
                    </div>
                    <div class="modal-body" *ngIf="isLoaded">
                      <div *ngIf="items_array.length>0 && !isProcessing">
                        <div class="list" *ngFor="let item of items_array">
                          <p>{{item.item_name}}</p>  
                        </div>
                      </div>
                    
                    <div class="list" *ngIf="items_array.length==0 && !isProcessing">
                      <p style="color:red"><b>No Equiepments to display</b></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    
                    </div>
                  </div>
                </div>
              </div>
              </div></td>
            </tr>

            
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>

