<div class="main-content">
  <div class="container-fluid" style="padding-top:20px;margin-top:0;margin-left:0" *ngIf="!isEmpty && isLoaded">
      <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="40"
      slides="5"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
      >
      <mat-carousel-slide #matCarouselSlide overlayColor="#00000040" [hideOverlay]="true" *ngFor="let events of events_array">
        <a id="event_image" href="" data-toggle="modal" data-target="#exampleModal" title="Click Here To View More" (click)="loadEvents(events.event_id)">
          <img src="{{events.image_path}}" alt="Events" width="100%" style="vertical-align:middle;padding-left:0;padding-right:0;">
        </a>
      </mat-carousel-slide>
    </mat-carousel>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Popular Organizers</h4>
              <p class="card-category">
                <ngb-rating [(rate)]="default_rate" max="5" readonly="true">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </p>
            </div>
            <div class="card-body" *ngIf="top_organizers.length!=0">
              <mat-list [ngClass]="{'list-group':top_organizers.length>3}" >
                <a *ngFor="let organizer of top_organizers" href="ratings/{{organizer.name}}" (click)="addUserEmail(organizer.email)">
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px" class="avatar" > 
                    </mat-icon>
                    <p mat-line style="margin-left:15px" >{{organizer.name}}</p>
                    <p mat-line style="margin-left:15px">
                      <ngb-rating [(rate)]="organizer.rating" max="5" readonly="true">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    </p>
                  </mat-list-item>
                </a>
                <mat-divider></mat-divider>
              </mat-list>    
            </div>
            <div class="card-body" *ngIf="top_organizers.length==0">
              <h3 style="color:blue" class="blink"><b>NO POPULAR ORGANIZERS</b></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Popular Venue Owners</h4>
              <p class="card-category">
                <ngb-rating [(rate)]="default_rate" max="5" readonly="true">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </p>
            </div>
            <div class="card-body" *ngIf="top_venue_owners.length!=0">
              <mat-list [ngClass]="{'list-group':top_venue_owners.length>3}">
                <a *ngFor="let venue_owner of top_venue_owners" (click)="addUserEmail(venue_owner.email)" href="ratings/{{venue_owner.name}}">
                  <mat-list-item >
                    <mat-icon mat-list-icon>
                      <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px" class="avatar" > 
                    </mat-icon>
                    <p mat-line style="margin-left:15px" >{{venue_owner.name}}</p>
                    <p mat-line style="margin-left:15px">
                      <ngb-rating [(rate)]="venue_owner.rating" max="5" readonly="true">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    </p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </a>
              </mat-list>    
            </div>
            <div class="card-body" *ngIf="top_venue_owners.length==0">
              <h3 style="color:blue" class="blink"><b>NO POPULAR VENUE OWNERS</b></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Popular Suppliers</h4>
              <p class="card-category">
                <ngb-rating [(rate)]="default_rate" max="5" readonly="true">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </p>
            </div>
            <div class="card-body" *ngIf="top_suppliers.length!=0">
              <mat-list [ngClass]="{'list-group':top_suppliers.length>3}">
                <a *ngFor="let supplier of top_suppliers" (click)="addUserEmail(supplier.email)" href="ratings/{{supplier.name}}">
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <img src="assets/img/faces/marc.jpg" alt="img" style="height:50px;width:50px;margin-top:-20px" class="avatar" > 
                    </mat-icon>
                    <p mat-line style="margin-left:15px" >{{supplier.name}}</p>
                    <p mat-line style="margin-left:15px">
                      <ngb-rating [(rate)]="supplier.rating" max="5" readonly="true">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    </p>
                  </mat-list-item>
                </a>
                <mat-divider></mat-divider>
              </mat-list>    
            </div>  
            <div class="card-body" *ngIf="top_suppliers.length==0">
              <h3 style="color:blue" class="blink"><b>NO POPULAR SUPPLIERS</b></h3>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid" *ngIf="isEmpty && isLoaded">
    <div class="row">
      <h1 align="center" style="color:red;padding-left:400px;padding-top:25px"><b>NO UPCOMMING EVENTS</b></h1>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: transparent;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:greenyellow"><b>{{filtered_events[0].event_name}}</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <p><b style="color:white">Date :</b></p>
            </div>
            <div class="col-md-8">
              <p>{{filtered_events[0].date}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p><b style="color:white">Time :</b></p>
            </div>
            <div class="col-md-8">
              <p>{{filtered_events[0].time}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p><b style="color:white">Artists :</b></p>
            </div>
            <div class="col-md-8" *ngIf="artists!==''">
              <p>{{artists}}</p>
            </div>
            <div class="col-md-8" *ngIf="artists===''">
              <p style="color:red">No Artists Participated</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p><b style="color:white">Suppliers :</b></p>
            </div>
            <div class="col-md-8" *ngIf="suppliers!==''">
              <p>{{suppliers}}</p>
            </div>
            <div class="col-md-8" *ngIf="suppliers===''">
              <p style="color:red">No Suppliers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p><b style="color:white">Venue :</b></p> 
            </div>
            <div class="col-md-8" *ngIf="venue_owners!==''">
              <p>{{venue_owners}}</p>
            </div>
            <div class="col-md-8" *ngIf="venue_owners===''">
              <p style="color:red">No Venues</p>
            </div>
          </div>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>