<div class="main-content">
  <div class="container-fluid">

    <form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">

      <h3>Venue Reservation Form</h3>
        <hr><br><br>
    
        <mat-form-field>
          <input matInput placeholder="Event Name" formControlName="title">
        </mat-form-field>
  
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Start date" formControlName = "event_start">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Start Time" formControlName="start_time">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="End date" formControlName = "event_end">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="End Time" formControlName="end_time">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Hall" formControlName="hall">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Number of Seats" formControlName="seats_number">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Name of the responsible person" formControlName="person_name">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Telephone Number" formControlName="tel_no">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Assigned officer" formControlName="assigned_officer">
        </mat-form-field>
    
    
        <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">Submit Form</button>
    
    </form>   

    <div *ngIf="success" class="notification is-success">
        Registration Completed!
    </div>

  </div>
</div>