
<div class="main-content">
  <div class="container-fluid">
      <div class="row" *ngIf="user_profile.length>0">
          <div class="col-md-4">
              <div class="card card-profile" style="background-color:#878d8d;">
                  <div class="img">
                      <div class="card-avatar overlays" id="overlay">
                          <button class="btn btn-primary" id="image_uploader" (click)="upload_image()">Add</button>
                          <button class="btn btn-danger" id="remove" (click)="remove_image()">Remove</button>
                      </div>
                      <a href="#" *ngIf="!user_profile[0].img_url">
                        <img src="./assets/img/pro_img.png" id="profile_pic" class=" card-avatar img" style="height:200px;width:200px"/>
                      </a>
                      <a href="#" *ngIf="user_profile[0].img_url">
                        <img [src]="user_profile[0].img_url" id="profile_pic" class=" card-avatar img" style="height:200px;width:200px"/>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{user_profile[0].role}}</h6>
                      <h4 class="card-title">{{username}}</h4>
                          <div class="row">
                            <i class="material-icons" style="margin-left:80px">settings_phone</i><h6 class="card-title">{{user_profile[0].contact}}</h6>
                          </div>
                          <div class="row">
                            <i class="material-icons" style="margin-left:80px">room</i><h6 class="card-title">{{user_profile[0].state}}</h6>
                          </div>
                          <p class="card-description">
                                {{user_profile[0].bio}}
                          </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>

          <div class="col-md-8">
              <div class="card" style="background-color:#878d8d;">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="form">
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="EventCorp" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" name="user_name" id="user_name" formControlName="user_name" required>
                                    <mat-error *ngIf="hasError('user_name', 'required')">First name is required</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" id="email" name="email" formControlName="email" required>
                                    <mat-error *ngIf="hasError('email', 'required')">First name is required</mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" id="f_name" name="f_name" formControlName="f_name" required>
                                  <mat-error *ngIf="hasError('f_name', 'required')">First name is required</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" id="l_name" name="l_name" formControlName="l_name" required>
                                  <mat-error *ngIf="hasError('l_name', 'required')">First name is required</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Address" type="text" id="address" name="address" formControlName="address" required>
                                  <mat-error *ngIf="hasError('address', 'required')">First name is required</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text" id="country" name="country" formControlName="country" required>
                                  <mat-error *ngIf="hasError('country', 'required')">First name is required</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Contact" type="number" id="contact" name="contact" formControlName="contact" required>
                                  <mat-error *ngIf="hasError('contact', 'required')">First name is required</mat-error>
                                </mat-form-field>
                              </div>
                            
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="number" id="p_code" name="p_code" formControlName="postal_code" required>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput formControlName="bio_data" id="bio"></textarea>
                                 </mat-form-field>  
                             </div>
                          </div>
                          <input type="file" id="profile_img" name="profile_img" style="display:none" (change)="get_uploaded_image($event)" accept="image/*"> 
                          <button mat-raised-button class="btn btn-danger pull-right" (click)="onSubmit()" [disabled]="!form.valid">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    
  