// body{
//     background-color: #25274d;
// }
.contact{
    padding: 3%;
    //margin-left: 20px;
    margin: 2%;
    //height: 400px;
}
.contact-info{
    background: #388ae7;
    padding: 3%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
}
// .contact-info{
//     margin-top:10%;
// }
.contact-info img{
    padding-top: 60px;
    margin-bottom: 15%;
}
.contact-info h1{
    margin-bottom: 10%;
    color: white;
    font-weight: bold;
}
.contact-form{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
    color: #000;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.form-group{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
}
address {
    margin-top: 20px;
    line-height: 1.8;
    padding-top: 20px;
    font-size: 1.1rem;
    color: rgb(240, 239, 239);
}
i{
    margin-right: 8px;
}

agm-map {
    height: 500px !important;
    width: 100%;  /* This is really important*/
  }