<div class="main-content">
  <div class="container-fluid">

    <!-- filtering out venues by name -->
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-append">
            <div class="input-group-text"><i class="material-icons">
                search
              </i>
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
            placeholder="Search by name..." (keyup)="searchByName()">

        </div>
      </div>

      <!-- filtering out by seating_capacity -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-auto filter-title">
            <span>Filter by Seating Capacity</span>
          </div>
          <div class="col slider">
            <span>0 </span>
            <mat-slider class="age-slider" max="3000" min="0" step="1" thumbLabel="true" (ngModel)="ageValue"
              (change)="rangeChange($event)">
            </mat-slider>
            <span> 2000</span>
          </div>
        </div>
      </div>

    </div>

    <!-- loading venue tiles -->
    <div class="list-group users-list">
      <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row tile">
          <div class="col-md-1 image-col">
            <img class="image" src="{{ item.payload.doc.data().photo1 }}">
          </div>
          <div class="col-md-5 text-col">
            <h5 class="mb-1">{{item.payload.doc.data().v_name}}</h5>
            <small>Fee - Rs. {{item.payload.doc.data().fee}}</small>
            <small style="margin-left: 30px;">Seating Capacity - {{item.payload.doc.data().seating_capacity}}</small>
          </div>
          <div class="col col-md-6 actions-col">
            <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">Profile</button>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>