// .rect{
//     padding-left: 50px;
//     padding-right: 50px;
//     background-color: grey;
//     padding-top:200px;
//     height:50px;
// }


.header{
    background: #3e97fc;
    padding: 3%;
    //background-image:url('assets/img/storage/home/about.jpg');
    //height: 200px;
    // background-repeat: no-repeat;
    // height: 100%;
    // background-size: cover;
}
h1{
    color: white;
}
h4{
    margin-top: 30px;
    color: white;
}