<div class="main-content">
  <div class="container-fluid">
    <!-- <h2 style="color:grey;padding-top:100px"><b>ABOUT US</b></h2> -->
    <div class="header">
      <h1 style="text-align: center;"><b>About EventCorp</b></h1>
    </div>
    <div class="container about">  
      <h4><b>Who Are We</b></h4>
      <p>vhv hh vhgvghhhhhhvvhh gghghg vgvhgvnh  vhgvghvhgv gvhgvhgv</p>
      <h4><b>Services We Provide</b></h4>
      <p>bhbjhjh hghgvhgvbn bhtjhu therhbe acjcjend  ejdnjekn  nht jfrf nee nun n huenje</p>
    </div>
  </div>
</div>