// .rect{
//     padding-left: 50px;
//     padding-right: 50px;
//     background-color: grey;
//     padding-top:200px;
//     height:50px;
// }

.about{
    padding-left: 5%;
}
.image{
    padding-right: 5%;
}
.header{
    background: #235288;
    padding: 3%;
    //background-image:url('assets/img/storage/home/about.jpg');
    //height: 200px;
    // background-repeat: no-repeat;
    // height: 100%;
    // background-size: cover;
}
h1{
    color: white;
}
h4{
    margin-top: 30px;
    color: white;
}
img{
    padding-top: 20%;
}