<div class="main-content">
  <div class="container-fluid">
    <!-- <h2 style="color:grey;padding-top:100px"><b>ABOUT US</b></h2> -->
    <div class="header">
      <h1 style="text-align: center;"><b>About EventCorp</b></h1>
    </div>
    <div class="row"> 
    <!-- <div class="container about">  -->
    <div class="about col-md-8"> 
      <h4><b>Who Are We ?</b></h4>
      <p>We used Eventzilla for the first time recently to manage bookings for our CSI Experience events. 
        It was easy to upload events onto the site and once we had set everything 
        up Eventzilla notified us of bookings, issued etickets, directions and full instructions on our behalf.</p>
      <h4><b>Services We Provide</b></h4>
      <p>We used Eventzilla for the first time recently to manage bookings for our CSI Experience events. 
        It was easy to upload events onto the site and once we had set everything 
        up Eventzilla notified us of bookings, issued etickets, directions and full instructions on our behalf.</p>
        <p>mnmnkj eventcotnkjrnf nnjkend</p>
        <h4><b>Uniqueness of EventCorp</b></h4>
        <p>We used Eventzilla for the first time recently to manage bookings for our CSI Experience events. 
          It was easy to upload events onto the site and once we had set everything 
          up Eventzilla notified us of bookings, issued etickets, directions and full instructions on our behalf.</p>
          
    </div>    
    <div class="image col-md-4">
      <img src="assets\img\storage\home\about.jpg" class="img-responsive" width="450" alt="">
    </div>
    
      <!-- </div> -->
    </div>
  </div>
</div>