<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" >
        <mat-card style="background-color:#303337">
          <mat-card-title style="color:blue" align="center">Event Details</mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-md-6" style="margin-top:10px">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREdnnPnKeJzuRf4kNFDVh1CBfhGbLxpwZvAA0tKAXCbg39uPkh" alt="event_poster">
                </div>
                <div class="col-md-6" style="margin-left:5px;margin-top:20px">
                  <p style="color:white">Event Name</p>
                  <p style="color:white">Organizer</p>
                  <p style="color:white">Venue</p>
                  <p style="color:white">Time</p>
                  <p style="color:white">Date</p>
                  <p style="color:white">Contact</p>
                </div>
              </div>
              <hr>
            </mat-card-content>
            <mat-card-footer style="margin-bottom:10px" >
              <button mat-raised-button style="background-color:green;margin-left:50px">Accept</button>
              <button mat-raised-button color="warn" style="margin-left:50px">Decline</button>
            </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
