.users-list{
    width: 1500px;
    border-radius: 20px;
}
mat-card {
    width: 100%;
    margin-bottom: 10px   
  }
  
  .example-header-image {
    background-image: url(../../../../assets/img/building.jpg);
    background-size: cover;
  }
  
  .mat-raised-button {
    margin-right: 10px;
  }
  
  .card-buttons {
    margin-right: 100px;
  }
  
  .b2{
    background-color: #7B1FA2;
  }
  
  .b3{
    background-color: #D32F2F;
  }
  
  img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
  .text-col{
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .actions-col{
    padding-right:20px;
    padding-left:300px;
  }
  
  .action {
    margin-top: 30px;
    padding-right:20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .input-group-text {
    background-color: lightgrey;
  }
  
  .filter-title{
    color: black;
    margin-left: 20px;
    margin-bottom: 20px ;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: whitesmoke - 10;
    height: 40px;
    padding-top: 10px;
  
  }
  
  .slider{
    background-color: white;
    height: 40px;
  } 
  
  .tile{
    margin-top: 10px;
  }

  .tile-headers{
      margin-left: 1px;
      margin-right: 1px;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 5px;
      width: 1500px;
      background-color: white;
  }
  
